<h1>
  Suggest a New Location
</h1>


<form class="row g-3" method="post" action="/addLocation">
  <div class="col-10">
    <label for="name" class="form-label">Name this place</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="col-2">
    <label for="reupcycle" class="form-label">Recycle / Upcycle</label>
    <select id="reupcycle" name="reupcycle" class="form-select">
      <option selected>Recycle</option>
      <option>Upcycle</option>
    </select>
  </div>
  <div class="col-6">
    <label for="address1" class="form-label">Address</label>
    <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
  </div>
  <div class="col-6">
    <label for="address2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-6">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city">
  </div>
  <div class="col-2">
    <label for="state" class="form-label">State</label>
    <select id="state" name="state" class="form-select">
      <option selected>Choose...</option>
      <option>MA</option>
      <option>NY</option>
      <option>NH</option>
    </select>
  </div>
  <div class="col-2">
    <label for="zip" class="form-label">Zip Code</label>
    <input type="text" class="form-control" id="zip" name="zip" placeholder="00000">
  </div>
  <div class="col-12">
    <label for="imgURL" class="form-label">Image URL</label>
    <input type="text" class="form-control" id="imgURL" name="imgURL">
  </div>
  <div class="col-12">
    <label for="details" class="form-label">Details</label>
    <textarea class="form-control" id="details" name="details" rows="2" placeholder="Type some details in..."></textarea>
  </div>
  <div class="col-6">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="000-1234-5678">
  </div>
  <div class="col-6">
    <label for="hrs" class="form-label">Operation Hours</label>
    <input type="text" class="form-control" id="hrs" name="hrs" placeholder="Mon-Fri, 9am-7pm">
  </div>
  <div class="col-1">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>

<hr>

<!-- here is how we iterate over all locations in the database! -->
    
<div class="overflow-hidden">
  <div class="row gy-4"> 
    <% locations.forEach(location => { %> 
    <div class="col-4">
      <div class="card">
        <img src="<%= location.imgURL %>" class="card-img-top" alt="image...">
        <div class="card-body">
          <h4 class="card-title"><%= location.name %></h4>
          <p class="card-text"><%= location.details %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Recycle/Upcycle:  <%= location.reupcycle %></li>
          <li class="list-group-item">Address: <%= location.address1 %>, <%= location.address2 %>, <%= location.city %>, <%= location.state %> <%= location.zip %></li>
          <li class="list-group-item">Phone Number: <%= location.phone %></li>
          <li class="list-group-item">Hours: <%= location.hrs %></li>
          <li class="list-group-item">CreatedAt: <%= location.createdAt %></li>
          <li class="list-group-item">placeID: <%=placeID%> </li>
        </ul>
        <div class="card-body">
          <a href="https://www.watertowndpw.org/169/Trash-Recycling" class="btn btn-success">Visit Website</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<% if (loggedIn) {%>
  <% if (['rohankelkar@brandeis.edu','tjhickey@brandeis.edu', 'joungwon04@brandeis.edu'].includes(user.googleemail)) { %>
  
  <div>
    <h1>Developers only</h1>
  </div>
  <pre><%= JSON.stringify(locations,null,5) %></pre>

  <% } %>
<% } %>