<h1>
  Alan's bio ... 
</h1>

    <div class="jumbotron">
        <h1>Alan Wang</h1>
        <p>Bio and Fact sheet</p>
    </div>





<div class="row">
  
  <div class="col bg-warning text-danger">
    <p>
      I am a student of the Brandeis App Design Course. My prior experience includes taking one intro to computer science class.
      
    </p>  
    <p>
      I live in Massachusetts from ages 3-16.
    </p>
    
    <div class="bg-danger text-white">
      <h2>
        Places I lived ..
      </h2>
      <ul>
        <li> Belmont, Ma</li>
      </ul>         
    </div>
    
    <h2>
      Websites I like
    </h2>
    <ul>
      <li> <a href="https://drive.google.com/">Google Drive</a></li>
    </ul>
  </div>
  
  <div class="col"> 
  </div>
  
</div>

<img src="images//dog.jpg"
     alt="dog"
     width="100%">




<form method="post" action="/alanMadLib">
  <input type="text" name="noun1" placeholder = "noun"><br>
  <input type="text" name="noun2" placeholder = "noun"><br>
  <input type="text" name="noun3" placeholder = "noun"><br>
  <input type="text" name="nouns1" placeholder = "plural noun"><br>
  <input type="text" name="adj1" placeholder = "adjective"><br>
  <input type="text" name="adv1" placeholder = "adverb ending in -ly"><br>
  <input type="text" name="tverb1" placeholder = "past tense transitive verb"><br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>
app.post('/alanMadLib',(req,res) => {
  res.locals.body = req.body
  res.render('madLibAlan')
})

<style>
  i {color:red}
</style>
<div class="jumbotron">
  <h1>
    The story of the <i><%= body.adj1 %> <%= body.noun1 %></i>
  </h1>
  <p>
     a madlib by Alan filled out by <%= user.googlename %>
  </p>
</div>

Once upon a time there was a 
<i><%= body.adj1 %> <%= body.noun1 %></i>
whose best friend was a 
<i><%= body.noun2 %>.</i> 
They went into a store
and bought some 
<i><%= body.adj2 %> <%= body.nouns1 %></i>. 
They bought a 
<i><%= body.noun3 %></i> 
and then the 
<i><%= body.noun1 %> <%= body.adv1 %> <%= body.tverb1 %> </i>
the 
<i><%= body.noun3 %></i>
and the 
<i><%= body.noun1 %></i> 
and the
<i><%= body.noun2 %> </i>
left the store.
