<div class="row">
  <div class="col">
    <h1>Jon's Bio</h1>
    <h5>
      <p>Joung Won Lee
      <img src="https://camo.githubusercontent.com/d050bbf2b6ef10b803bf4e888a2064190fbbdd9183a676350320edd5b0d03e34/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f2d25463025394625383725423025463025394625383725423725323052657075626c69632532304f662532304b6f7265612d3030343761303f7374796c653d666c61742d737175617265">
      </p>
    </h5>
    <p>Typical HS senior / codes, designs, automotives, games / EN KR ES</p>
    <p><i>I just do the things I like</i></p>
  </div>
  <div class="col">
    <img src="https://cdn.glitch.com/2bd5e4b3-37db-4afc-b9b1-6dbc7156f4e2%2FIMG_20200712_224020.jpg?v=1626117490848" alt="cat" width="500"></img>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <h2>Contacts</h2>
    <p>
      <ul>
        <li>
          <a href="mailto:joungwon04@brandeis.edu">email : joungwon04@brandeis.edu</a>
        </li>
        <li>
          <a href="https://github.com/pine5508">Github</a>
          <img src="https://img.shields.io/github/followers/pine5508?style=social" alt="Github Follow">
        </li>
        <li>
          <a href="https://keybase.io/pine5508">Keybase</a>
        </li>
        <li>
          <a href="https://twitter.com/pine5508">Twitter</a>
          <img src="https://img.shields.io/twitter/follow/pine5508?style=social" alt="Twitter Follow">
        </li>
        <li>
          <a href="https://reddit.com/user/pine5508">Reddit</a>
          <img src="https://img.shields.io/reddit/user-karma/combined/pine5508?style=social" alt="Reddit Karma">
        </li>
      </ul>
    </p>
  </div>
</div>

<hr>

<div>
  <h2>Madlib</h2>
  <form class="row g-2" method="post" action="jonMadlib">
    <div class="col">
      <input type="text" class="form-control" name="noun1" placeholder="noun">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="noun2" placeholder="noun">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="noun3" placeholder="noun">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="pnoun" placeholder="plural noun">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="adj" placeholder="adjective">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="adv" placeholder="adverb">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="verbt" placeholder="past-tense transitive verb">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<div>
  <h2>Comments</h2>
  <form method="post" action="/addCommentForJon">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="rating" placeholder="Rate">
        </div>
      </div>
      <div class="row mb-3">
        <textarea class="form-control" name="text" rows="2" placeholder="Leave a comment..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>

  <h3>Comments from previous visitors</h3>
  <ul>
    <% comments.forEach(comment => { %>
    <li>
      <%= comment.title %> <i><%= comment.createdAt %></i>
      <br>
      <%= comment.text %>
      <br>
      Rating: <%= comment.rating %>
    </li>
    <% }) %>
</ul>

<div style="color:red">

    <h6>
      The rest of this page is just for the developers!<br>
      Everyone else can ignore this!
    </h6>

    Here are the comments in raw JSON form:
    <pre>
    <%= JSON.stringify(comments,null,5) %>
    </pre>
    <!-- the <pre> tag preserves the spacing and JSON.stringify makes it look pretty -->

</div>
  
</div>




  


