
    <div class="jumbotron">
        <h1>Rohan's Bio</h1>
        <p>About me!</p>
    </div>
<hr>

<div class="shadow p-3 mb-5 rounded bg-light ">  
  <h4>
    I am a rising sophomore in Massachusetts taking the course in summer 2021. 
    I am know english and marathi, and am learning spanish, which makes me trilingual.
    
  <h1>
    Favorites:
  </h1>
  <ul>
    <h3>
      <li>Color: Orange</li>
      <li>Food: Potato Fries</li>
      <li>Number: 5</li>
      <li>Dessert: Brownies</li>
      <li>Sport: Badminton</li>
      <li>Subject: Math</li>
    </h3>
</ul>
  </h4>
</div>
  

email: rohankelkar@brandeis.edu

<h1>
  Mad Libs!
</h1>
<p>
  A little madlib for fun!
  <br>
  Fill and submit.
</p>

<div>
  <form method="post" action="/RohanMadLib">
  <input type="text" name="noun1" placeholder = "main character"><br>
  <input type="text" name="adj1" placeholder = "adjective"><br>
  <input type="text" name="adj2" placeholder = "adjective"><br>
  <input type="text" name="adj3" placeholder = "adjective"><br>
  <input type="text" name="noun2" placeholder = "second character"><br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>

</div>


<hr>
<h2>
  Leave a comment on this page!
</h2>

<hr>
<% if (!loggedIn) {%>

   <b> You must be logged in to leave a comment! </b>

<%} else {%> 

  <form method="post" action="/addCommentForRohan">
    Title: 
    <br>
    <input type="text" name="title" size="40" placeholder="summarize in a few words">
    <br>
    <br>
    Rating: 
    <br>
    <input type="number" name="rating" placeholder="rating from 1-10"></input>
    <br>
    <br>
    What do you think?
  <br>
      <textarea name="text" cols="40" placeholder="what do you think of my bio page?"></textarea>
    <br>
    <input type="submit" class="btn btn-warning" value="Submit comment">
  </form>

<%}%>


<h2>
  Comments from previous visitors
</h2>

  
<!-- here is where we show all of the comments in a list -->
<ul>
  <!-- here is how we iterate over all comments in the database! -->
  
  <% comments.forEach(comment => { %> 
   
    <li> 
         <%= comment.title %>  <%= comment.createdAt.toLocaleString('en-US') %>
         <br>
         <%= comment.text %>
      <br>
          Rating: <%= comment.rating %>
   </li>
  
  <% }) %>
  
</ul>



</div>

<% if (loggedIn) {%>
  <% if (['rohankelkar@brandeis.edu','tjhickey@brandeis.edu', 'joungwon04@brandeis.edu'].includes(user.googleemail)) { %>
  <div style="color:red">

    Here are the comments in raw JSON form:
    <pre>
      <%= JSON.stringify(comments,null,5) %>
    </pre>
    <!-- the <pre> tag preserves the spacing and JSON.stringify makes it look pretty -->
  <% } %>
<% } %>