<h1>
   
  <div class="jumbotron">
        <h1>Rahma's Bio</h1>
        <p style="font-size:30px">Get to know me!</p>
        <i><p style="font-size:28px">purpose fuels passion</p></i>
  </div>
</h1>
<div class="col bg-light">
  <html>
<body>


<p style="font-size:22px">Hello,I'm from Islamabad, Pakistan. I'm 17. I enjoy writing, baking, anime and painting in my spare time. I have an Instagram account in which I post poems. I have an unhealthy obsession listening to Arctic Monkeys on repeat. I enjoy playing badminton. I like to learn about different languages.</p>

</body>
</html>
  
</div>
<h2>Socials!</h2>
<li>
  <a href="https://www.instagram.com/inked.journals/">inked.journals</a> 
  <img src="https://www.pinterest.com/pin/774124926164693/" alt="Cute Brown Teddy" style="width:500px;height:600px;">
</li>
<hr>
<h1>
  Mad Libs!
</h1>
<p>
  A little madlib for fun!
  <br>
  Fill and submit.
</p>

<div>
  <form method="post" action="/RahmaMadLib">
  <input type="text" name="noun1" placeholder = "noun"><br>
  <input type="text" name="noun2" placeholder = "noun"><br>
  <input type="text" name="noun3" placeholder = "noun"><br>
  <input type="text" name="nouns1" placeholder = "plural noun"><br>
  <input type="text" name="adj1" placeholder = "adjective"><br>
  <input type="text" name="adv1" placeholder = "adverb ending in -ly"><br>
  <input type="text" name="tverb1" placeholder = "past tense transitive verb"><br>
  <input type="submit" class="btn btn-lg btn-danger">
</form>

</div>

<hr>
<% if (!loggedIn) {%>

   <b> You must be logged in to leave a comment! </b>

<%} else {%> 

  <form method="post" action="/addCommentForRahma">
    Title: 
    <input type="text" name="title" size="40" placeholder="summarize in a few words"><br>
    More details (optional)<br>
    <input type="number" name="rating" placeholder="rating from 1-10"></input>
    <br>
    <textarea name="text" cols="40" placeholder="what do you think of my bio page?"></textarea><br>
    <input type="submit" class="btn btn-warning" value="Submit comment">
  </form>


<%}%>


<h2>
  Comments from previous visitors
</h2>

  
<!-- here is where we show all of the comments in a list -->
<ul>
  <!-- here is how we iterate over all comments in the database! -->
  
  <% comments.forEach(comment => { %> 
   
    <li> 
         <%= comment.title %> <i> <%= comment.createdAt %></i>
         <br>
         <%= comment.text %>
         <br>
         rating: <%= comment.rating %>
   </li>
  
  <% }) %>
  
</ul>

<div style="color:red">
    <h6>
      The rest of this page is just for the developers!<br>
      Everyone else can ignore this!
    </h6>

    Here are the comments in raw JSON form:
    <pre>
    <%= JSON.stringify(comments,null,5) %>
    </pre>
    <!-- the <pre> tag preserves the spacing and JSON.stringify makes it look pretty -->

</div>