<style>
  i {color:red}
</style>
<div class="jumbotron">
  <h1>
    The story of the <i><%= body.adj %> <%= body.noun1 %></i>
  </h1>
  <p>
     a madlib by Rahma Malik filled out by <%= user.googlename %>
  </p>
</div>
Not long ago, there was a
<i><%= body.adj %> <%= body.noun1 %></i>
who lived alone in the outskirts of 
<i><%= body.noun2 %>.</i> .
They went into a store
and bought a milkshake
<i><%= body.adv %> <%= body.pnoun %></i>. 
and left for the park, there was a
<i><%= body.noun3 %></i> 
and then the 
<i><%= body.noun1 %> <%= body.adv %> <%= body.verbt %> </i>
and the
<i><%= body.noun3 %></i>
jumped and
<i><%= body.noun1 %></i> 
. Lastly, the
<i><%= body.noun2 %> </i>
decided to leave.