<style>
  i {color:red}
</style>
<div class="jumbotron">
  <h1>
    The story of the <i><%= body.adj %> <%= body.noun1 %></i>
  </h1>
  <p>
     a madlib by Alan filled out by <%= user.googlename %>
  </p>
</div>
Once upon a time there was a 
<i><%= body.adj %> <%= body.noun1 %></i>
who had a very unusual 
<i><%= body.noun2 %>.</i> 
They tried 
and bought some 
<i><%= body.adv %> <%= body.pnoun %></i>. 
They bought a 
<i><%= body.noun3 %></i> 
and then the 
<i><%= body.noun1 %> <%= body.adv %> <%= body.verbt %> </i>
the 
<i><%= body.noun3 %></i>
and the 
<i><%= body.noun1 %></i> 
and the
<i><%= body.noun2 %> </i>
left the store.