<style>
  i {color:red}
</style>
<div class="jumbotron">
  <h1>
    The story of the <i><%= body.adj %> <%= body.noun1 %></i>
  </h1>
  <p>
     a madlib by Alan filled out by <%= user.googlename %>
  </p>
</div>
Once upon a time there was a 
<i><%= body.adj %> <%= body.noun1 %></i>
who rode on a 
<i><%= body.noun2 %></i> 
to go to tjmax
and buy some 
<i><%= body.adv %> <%= body.nouns1 %></i>. 
They bought a
<i><%= body.noun3 %></i> 
and then the,
<i><%= body.noun1 %> <%= body.adv %> <%= body.verbt %> </i>
the,
<i><%= body.noun3 %></i>
the 
<i><%= body.noun1 %></i> 
and the
<i><%= body.noun2 %> </i>
left the tjmax.


