<style>
  i {color:red}
</style>
<div class="jumbotron">
  <h1>
    The story of <%= body.noun1 %></i>
  </h1>
  <p>
     a madlib by Rohan Kelkar filled out by <%= user.googlename %>
  </p>
</div>
Once upon a time, 
<i><%= body.noun1 %></i>
was trying to develop a 
<i><%= body.adj1 %>.</i> 
website. However, they kept making 
<i><%= body.adj2%></i> 
mistakes that resulted in 
<i><%= body.adj3 %> </i>
bugs. Thankfully, 
<i><%= body.noun2 %></i>
was there to fix everything. 10 cheers for 
<i><%= body.noun2%></i> 
!