<div class="d-flex justify-content-between">
  <div>
    <img src="https://cdn.glitch.com/65fc1e7e-433e-47d3-a141-b98d44283730%2FPXL_20210720_021453064.jpg?v=1626714965447" style="width: 50px; height: 50px; overflow: hidden;" alt="Profile Picture">
    <h1>Welcome, <%= user.googlename %></h1>
  </div>
  <div>
    <a href="/editProfile" class="btn btn-success">Edit</a>
  </div>
</div>


  <table class="table">
      <tbody>
        <tr>
          <td>googlename</td>
          <td><%= user.googlename %> </td>
        </tr>
        <tr>
          <td>googleemail</td>
          <td><%= user.googleemail %> </td>
        </tr>
        <tr>
          <td>username</td>
          <td><%= user.username %> </td>
        </tr>
        <tr>
          <td>age</td>
          <td><%= user.age %> </td>
        </tr>
      </tbody>
    </table>

<form>
  <div class="row mb-3">
    <label for="email" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input type="email" class="form-control" id="email" value="<%= user.googleemail %>" readonly>
    </div>
  </div>
  <div class="row mb-3">
    <label for="username" class="col-2 col-form-label">Username</label>
    <div class="col-10">
      <div class="input-group">
        <span class="input-group-text" id="username">@</span>
        <input type="username" class="form-control" id="username" value="<%= user.username %>" readonly>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="age" class="col-2 col-form-label">Age</label>
    <div class="col-10">
      <input type="text" class="form-control" id="age" value="<%= user.age %>" readonly>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>