<div>
  <div class="text-start">
    <center>
    <div class="image-cropper">
      <img src="<%= user.pfpURL %>" alt="Profile Picture">
    </div>
    </center>
    <h1>Welcome, <%= user.googlename %></h1>
  </div>
</div>

<form>
  <div class="row mb-3">
    <label for="email" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input type="email" class="form-control" id="email" value="<%= user.googleemail %>" readonly>
    </div>
  </div>
  <div class="row mb-3">
    <label for="username" class="col-2 col-form-label">Username</label>
    <div class="col-10">
      <div class="input-group">
        <span class="input-group-text" id="username">@</span>
        <input type="username" class="form-control" id="username" value="<%= user.username %>" readonly>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="age" class="col-2 col-form-label">Age</label>
    <div class="col-10">
      <input type="text" class="form-control" id="age" value="<%= user.age %>" readonly>
    </div>
  </div>
  <div class="row mb-3">
    <label for="quote" class="col-2 col-form-label">Quote</label>
    <div class="col-10">
      <blockquote class="blockquote form-control" id="quote">
        <p><%= user.quote %></p>
      </blockquote>
    </div>
  </div>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editProfile">
    Edit Profile
  </button>
</form>

<style>
  .image-cropper {
border-radius: 50%;
    
}
  </style>


<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="editYourProfile">
          <div class="row mb-3">
            <label for="name" class="col-2 col-form-label">Name</label>
            <div class="col-10">
              <input type="text" class="form-control" id="name" value="<%= user.googlename %>" readonly>
            </div>
          </div>
          <div class="row mb-3">
            <label for="email" class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input type="email" class="form-control" id="email" value="<%= user.googleemail %>" readonly>
            </div>
          </div>
          <div class="row mb-3">
            <label for="username" class="col-2 col-form-label">Username</label>
            <div class="col-10">
              <div class="input-group">
                <span class="input-group-text" id="username">@</span>
                <input type="username" class="form-control" id="username" name="username" value="<%= user.username %>">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="age" class="col-2 col-form-label">Age</label>
            <div class="col-10">
              <input type="text" class="form-control" id="age" name="age" placeholder="Numbers only" value="<%= user.age %>">
            </div>
          </div>
          <div class="row mb-3">
            <label for="pfp" class="col-2 col-form-label">Profile Picture</label>
            <div class="col-10">
              <input type="text" class="form-control" id="pfp" name="pfpURL" placeholder="URLs only" value="<%= user.pfpURL %>">
            </div>
          </div>
          <div class="row mb-3">
            <label for="quote" class="col-2 col-form-label">Quote</label>
            <div class="col-10">
              <textarea class="form-control" id="quote" name="quote" rows="2" placeholder="Your quote here..."></textarea>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
