<div class="jumbotron">
  <h1>
    Recipes using <%= ingredient %> 
  </h1>
  <p>
    from <a href="https://www.themealdb.com">www.themealdb.com</a>
  </p>
</div>

<% meals.map((meal) => {%>
<hr>
<div class="row">
  <div class="col">
    <img src="<%= meal.strMealThumb %>" width="100%" alt="<%= meal.strMeal %>" ><br>
  </div>
  <div class="col">
    <h1>
       <%= meal.strMeal %>
    </h1>
  </div>
  <div class="col">
    <a href="https://www.themealdb.com/meal/<%= meal.idMeal %>"> 
      Click here to see the recipe and ingredients
    </a>
    <hr>
    <a href="https://www.themealdb.com/api/json/v1/1/lookup.php?i=<%= meal.idMeal %>">
      Click here to see all of the details in JSON form
    </a>
    <hr>
    <a href="/recipeById/<%= meal.idMeal %>">See our version of the recipe </a>
  </div>
</div>
 

<%})%>