<h1 style="background-color:<%= body.favoriteColor %>">
  <%= body.fullname %>
</h1>
Birthday: <%= body.birthday %> <br>
Grade1: <%= body.grade1 %> and <br>
Grade2: <%= body.grade2 %><br>
Bio: <%= body.bio %><br>
Over18? <%= body.over18 || 'unknown' %><br>
Interests: <%= body.interest || 'unknown' %>


