

<div class="row">

    <div class="col bg-secondary">
        <h1>Senior Photo</h1>
        <img src="<%=img%>" width="100%">
    </div>

    <div class="col bg-warning" >
        <div class="jumbotron" >
            <h1><%=name%></h1>
            <p>Draft Yearbook Entry</p>
        </div>

        Webpage for <%=name%> is:
        <a href="<%=url%>">
            <%= url%>
        </a>
        <br>
        Their age in years is about <%=age%>
        <br>
        and their age in days is about <%=ageindays%>
    </div>

    <div class="col bg-info">
        <h1>Quote</h1>
        <h2>
            <%=quote%>
        </h2>
    </div>

</div>
